<h1 class="text-center">About</h1>
<hr/>

<div class="row">
  <div class="col-md-4">
    <figure class="figure">
      <!--<img src="https://ca.slack-edge.com/T02UN5XCZ-U02UN5XD3-557f30276535-512" class="about-pic">-->
      <img src="https://ca.slack-edge.com/T02UN5XCZ-U02UN5XD3-557f30276535-512" class="figure-img img-fluid rounded"/>
      <figcaption class="figure-caption text-left text-small">This is me in a suit (so you know I'm a professional)</figcaption>
    </figure>
  </div>
  <div class="col-md-8">
    <p>I'm a software developer and project manager.</p>
    <p>I make games some of the time, and websites some of the time. In fact, I made this website.</p>
    <p>You can see <em>all</em> of my projects <a routerLink="/projects">here</a>.</p>
    <p>My brother Anthony and I have our own video game company. It's called Synersteel Studio, and you can visit it <a href="https://synersteel.com" target="_blank">here</a>.
    We've commercially released 4 games to date.</p>
    <p>I really enjoy:</p>
    <ul>
      <li>Productivity</li>
      <li>Minimalism</li>
      <li>Environmental puzzle games</li>
      <li>Making structured lists out of items that should be comma separated</li>
    </ul>
    <p>I think that's about everything.</p>
  </div>
</div>