.img-me {
    transition: filter 1s;
}

.img-me:hover,
.img-me:active {
    filter: brightness(150%);
    transition: filter 0.75s;
    
}

.about-info {
    margin: 30px;
}

.about-info > p {
    line-height: 0.75;
}

.img-div {
    display: block;
    overflow: auto;
}

h2 {
    font-size: 1.75em;
}